<a href="https://colab.research.google.com/github/BrendenLatham/Data_Viz/blob/main/Assignment15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cleaning Mountains

In this notebook I am going to be cleaning some data acraped from the web.

In [12]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import re

In [192]:
r = requests.get('https://en.wikipedia.org/wiki/List_of_highest_mountains_on_Earth')
html_contents = r.text
html_soup = BeautifulSoup(html_contents,"lxml")
tables = html_soup.find_all('table',class_="wikitable")
df = pd.read_html(str(tables))[0]
df.columns = df.columns.droplevel(0).droplevel(0)
df.head()

  Rank[dp 1]  ... Country (disputed claims in italics)
0          1  ...                           NepalChina
1          2  ...              Pakistan[dp 8]China[12]
2          3  ...                           NepalIndia
3          4  ...                           NepalChina
4          5  ...                           NepalChina

[5 rows x 13 columns]

First I will be cleaning up the column names

In [224]:
df = df.rename(columns=lambda x: re.sub('[\(\[].*?[\)\]]', '', x.capitalize()))
df.head()

  Rank  ...                 Country
0    1  ...               NepalChina
1    2  ...  Pakistan[dp 8]China[12]
2    3  ...               NepalIndia
3    4  ...               NepalChina
4    5  ...               NepalChina

[5 rows x 13 columns]

I am still not sure how I would go about cleaning the Country column but I figure it would be easier to put it into a string and work through it as a proof of concept.

In [223]:
countries = re.sub('[\(\[].*?[\)\]]', '', str(df["Country "]))
countries = re.sub('[\n]', '', countries)
countries = re.sub('[\d-]','', countries)
countries = re.sub('Name: Country , Length: , dtype: object','', countries)
countries = re.sub('[^\w]+',',', countries)
countries = countries[1:]
countries = countries.replace(',', ' ') # I could totally do this in regex but I am sick of it
countries

'NepalChina PakistanChina NepalIndia NepalChina NepalChina China NepalChina BhutanChina IndiaChina Pakistan'